@page "/mainmenu"
@inject GameConnectionProvider GameConnectionProvider
@inject NavigationManager NavigationManager

<MudText Class="m-2" Typo="Typo.h4" Align="Align.Center">Topdown Shooter</MudText>
<MudTextField @bind-Value="UserName" Label="Username" Disabled="_connecting"/>
<MudButton Disabled="_connecting" Variant="Variant.Filled" Color="Color.Primary" OnClick="Matchmaking">@(_connecting ? "Loading..." : "Play")</MudButton>
<div class="d-flex">
    
</div>

@code {

    private bool _connecting;
    private string UserName { get; set; } = null!;
    
    private async Task Matchmaking() {
         _connecting = true;
         GameConnectionProvider.OnGameJoined += OnGameJoined;
         await GameConnectionProvider.StartMatchmakingAsync(UserName);
    }

    private void OnGameJoined() {
        NavigationManager.NavigateTo("/game");
    }
}